In [1]:
import os
#!pip install pandas

import pandas as pd
import sqlite3
#!pip install ipython-sql prettytable
import prettytable
prettytable.DEFAULT = 'DEFAULT'

In [2]:
print(os.getcwd())
df = pd.read_csv('./data/report_chicago_school.csv')

/home/rafael/Documents/Cursos/Coursera/SQL_Pyhton_IBM_Coursera/Modulo_5_dataManipulationViz/hands_on_chicago_school_report

In [3]:
df.head()

,School ID,Name of School,"Elementary, Middle, or High School",Street Address,City,State,ZIP Code,Phone Number,Link,Network Manager,...,RCDTS Code,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,Community Area Number,Community Area Name,Ward,Police District,Location
0,609966,Charles G Hammond Elementary School,ES,2819 W 21st Pl,Chicago,IL,60623,(773) 535-4580,http://schoolreports.cps.edu/SchoolProgressRep...,Pilsen-Little Village Elementary Network,...,150000000000000,1157809.015,1889554.623,41.852691,-87.696278,30,SOUTH LAWNDALE,12,10,"(41.85269133, -87.69627777)"
1,610539,Marvin Camras Elementary School,ES,3000 N Mango Ave,Chicago,IL,60634,(773) 534-2960,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,150000000000000,1137482.296,1919394.900,41.934966,-87.770165,19,BELMONT CRAGIN,30,25,"(41.93496641, -87.77016525)"
2,609852,Eliza Chappell Elementary School,ES,2135 W Foster Ave,Chicago,IL,60625,(773) 534-2390,http://schoolreports.cps.edu/SchoolProgressRep...,Ravenswood-Ridge Elementary Network,...,150000000000000,1161016.902,1934466.545,41.975867,-87.683254,4,LINCOLN SQUARE,47,20,"(41.975867, -87.68325438)"
3,609835,Daniel R Cameron Elementary School,ES,1234 N Monticello Ave,Chicago,IL,60651,(773) 534-4290,http://schoolreports.cps.edu/SchoolProgressRep...,Garfield-Humboldt Elementary Network,...,150000000000000,1151767.546,1908130.068,41.903785,-87.717963,23,HUMBOLDT PARK,26,25,"(41.90378521, -87.71796315)"
4,610521,Sir Miles Davis Magnet Elementary Academy,ES,6730 S Paulina St,Chicago,IL,60636,(773) 535-9120,http://schoolreports.cps.edu/SchoolProgressRep...,Englewood-Gresham Elementary Network,...,150000000000000,1166133.893,1859929.018,41.771222,-87.666567,67,WEST ENGLEWOOD,15,7,"(41.77122181, -87.66656657)"

In [4]:
con = sqlite3.connect('school_chicago.db')
cur = con.cursor()

In [5]:
%load_ext sql

Exporto la info al database

In [7]:
df.to_sql('chicago_report', con, if_exists='replace', index=False)

566

Me conecto al database

In [8]:
%sql sqlite:///school_chicago.db

Chequeo que la tabla este en el dataset

In [9]:
%sql SELECT name FROM sqlite_master WHERE type = 'table';

 * sqlite:///school_chicago.db
Done.

[('chicago_report',)]

Veo las primeras 10 filas de la tabla

In [10]:
%sql SELECT * FROM chicago_report LIMIT 10;

 * sqlite:///school_chicago.db
Done.

[(609966, 'Charles G Hammond Elementary School', 'ES', '2819 W 21st Pl ', 'Chicago', 'IL', 60623, '(773) 535-4580', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609966.pdf', 'Pilsen-Little Village Elementary Network', 'WEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 2', 'No', 'Average', 40.0, 'NDA', 'NDA', 'Average', 41.0, 'Average', 43.0, 'NDA', 'NDA', 'NDA', 'NDA', 'Weak', '43', 'Weak', '45', 95.3, 8.5, 95.2, 92.0, '77.4', 'NDA', '27.4', '24.8', '62.4', '53.7', '38.1', '28.8', '60.2', '59.8', '12.8', '5.3', 10.1, 5.8, 0.5, 0.2, 'Yellow', 'Yellow', '25', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 446, 39, 'NDA', 150000000000000, 1157809.015, 1889554.623, 41.85269133, -87.69627777, 30, 'SOUTH LAWNDALE', 12, 10, '(41.85269133, -87.69627777)'),
 (610539, 'Marvin Camras Elementary School', 'ES', '3000 N Mango Ave ', 'Chicago', 'IL', 60634, '(773) 534-2960', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610539.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Not Enough Data', 'No', 'Average', 54.0, 'Average', '58', 'Weak', 37.0, 'Average', 41.0, 'Very Strong', '83', 'Very Strong', '88', 'Average', '51', 'Strong', '55', 95.1, 4.3, 0.0, 97.7, '47.5', '39.9', '30.8', '27.8', '47.8', '38.6', '41.1', '38.5', '49.2', '55.4', '15.3', '30.5', 11.2, 12.0, -1.8, -0.3, 'Red', 'Yellow', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 826, 30, 'NDA', 150000000000000, 1137482.296, 1919394.9, 41.93496641, -87.77016525, 19, 'BELMONT CRAGIN', 30, 25, '(41.93496641, -87.77016525)'),
 (609852, 'Eliza Chappell Elementary School', 'ES', '2135 W Foster Ave ', 'Chicago', 'IL', 60625, '(773) 534-2390', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609852.pdf', 'Ravenswood-Ridge Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'Yes', 'Standard', 'Not on Probation', 'Level 1', 'No', 'Strong', 70.0, 'Strong', '65', 'Average', 53.0, 'Average', 51.0, 'Average', '56', 'Average', '48', 'Average', '50', 'Average', '52', 95.1, 2.9, 96.7, 98.9, '72.6', '57', '56', '54.4', '55.2', '69', '53.2', '63.9', '60', '59.8', '12.8', '41', 19.6, 17.6, 0.4, 1.0, 'Yellow', 'Green', '27.5', '63.6', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 451, 31, 'NDA', 150000000000000, 1161016.902, 1934466.545, 41.975867, -87.68325438, 4, 'LINCOLN SQUARE', 47, 20, '(41.975867, -87.68325438)'),
 (609835, 'Daniel R Cameron Elementary School', 'ES', '1234 N Monticello Ave ', 'Chicago', 'IL', 60651, '(773) 534-4290', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609835.pdf', 'Garfield-Humboldt Elementary Network', 'WEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Probation', 'Level 3', 'No', 'Average', 42.0, 'NDA', 'NDA', 'Average', 49.0, 'Average', 50.0, 'NDA', 'NDA', 'NDA', 'NDA', 'Weak', '46', 'Weak', '46', 92.6, 153.9, 96.2, 98.4, '47.8', '21.1', '16.4', '16.1', '31.3', '34.7', '19.2', '15.6', '33.5', '35', '9.2', '7.1', 10.3, 5.9, -1.0, -1.4, 'Red', 'Red', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 828, 34, 'NDA', 150000000000000, 1151767.546, 1908130.068, 41.90378521, -87.71796315, 23, 'HUMBOLDT PARK', 26, 25, '(41.90378521, -87.71796315)'),
 (610521, 'Sir Miles Davis Magnet Elementary Academy', 'ES', '6730 S Paulina St ', 'Chicago', 'IL', 60636, '(773) 535-9120', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610521.pdf', 'Englewood-Gresham Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Probation', 'Level 3', 'No', 'Weak', 35.0, 'NDA', 'NDA', 'Average', 51.0, 'Average', 54.0, 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 93.0, 57.8, 94.5, 100.0, '63.9', '62.3', '24.8', '14.1', '43.1', '52', '22.6', '17.1', '49.1', '45.5', '4.4', '13.3', 5.9, 3.2, 0.0, -0.9, 'Yellow', 'Red', '25.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 354, 43, 'NDA', 150000000000000, 1166133.893, 1859929.018, 41.77122181, -87.66656657, 67, 'WEST ENGLEWOOD', 15, 7, '(41.77122181, -87.66656657)'),
 (609818, 'Luther Burbank Elementary School', 'ES', '2035 N Mobile Ave ', 'Chicago', 'IL', 60639, '(773) 534-3000', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609818.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 2', 'No', 'Weak', 37.0, 'NDA', 'NDA', 'Average', 42.0, 'Weak', 34.0, 'NDA', 'NDA', 'NDA', 'NDA', 'Average', '47', 'Average', '49', 95.2, 9.8, 95.5, 100.0, '60.8', '45.2', '42.8', '34.9', '61.2', '63.8', '41', '34.4', '55', '54.5', '13.1', '17.2', 20.6, 11.3, -0.2, 0.2, 'Yellow', 'Yellow', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 1139, 29, 'NDA', 150000000000000, 1134122.521, 1913042.046, 41.91759334, -87.78266267, 19, 'BELMONT CRAGIN', 29, 25, '(41.91759334, -87.78266267)'),
 (610298, 'Lenart Elementary Regional Gifted Center', 'ES', '8101 S LaSalle St ', 'Chicago', 'IL', 60620, '(773) 535-0040', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610298.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'Yes', 'Standard', 'Not on Probation', 'Level 1', 'No', 'Strong', 79.0, 'Average', '58', 'Average', 51.0, 'Strong', 67.0, 'Average', '50', 'Strong', '63', 'Average', '52', 'Average', '52', 97.4, 0.3, 97.8, 100.0, 'NDA', 'NDA', '93.9', '96.9', '69.4', '46.9', '93.5', '96.8', '57.6', '55.9', '86.7', '93.3', 88.0, 86.4, 1.0, 0.5, 'Green', 'Yellow', '100', '70', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 328, 45, 'NDA', 150000000000000, 1176725.617, 1851241.455, 41.74715024, -87.62800231, 44, 'CHATHAM', 21, 6, '(41.74715024, -87.62800231)'),
 (610200, 'James N Thorp Elementary School', 'ES', '8914 S Buffalo Ave ', 'Chicago', 'IL', 60617, '(773) 535-6250', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610200.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Standard', 'Probation', 'Level 3', 'No', 'Weak', 32.0, 'NDA', 'NDA', 'Weak', 39.0, 'Weak', 39.0, 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 91.8, 45.4, 95.9, 100.0, '51', '24.3', '9.1', '10.4', '33.6', '31', '27.3', '30.5', '52.9', '43.8', '3.6', '20', 8.7, 3.6, -0.4, -1.2, 'Yellow', 'Red', '14', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 449, 47, 'NDA', 150000000000000, 1199554.7, 1846396.13, 41.73331035, -87.54451462, 46, 'SOUTH CHICAGO', 10, 4, '(41.73331035, -87.54451462)'),
 (609680, 'Walter Payton College Preparatory High School', 'HS', '1034 N Wells St ', 'Chicago', 'IL', 60610, '(773) 534-0034', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609680.pdf', 'North-Northwest Side High School Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'Yes', 'Standard', 'Not on Probation', 'Level 1', 'No', 'Very Strong', 98.0, 'NDA', 'NDA', 'Very Strong', 80.0, 'Strong', 77.0, 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 93.4, 0.7, 96.1, 100.0, 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', None, None, None, None, 'NDA', 'NDA', 'NDA', 'NDA', '21.2', '21.8', '23.1', '23.2', '2', '27', '3.9', '96.4', '96.9', '82.4', 881, 33, '90.7', 150000000000000, 1174484.638, 1907490.082, 41.90155157, -87.63453744, 8, 'NEAR NORTH SIDE', 27, 18, '(41.90155157, -87.63453744)'),
 (610056, 'Roswell B Mason Elementary School', 'ES', '4217 W 18th St ', 'Chicago', 'IL', 60623, '(773) 534-1530', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610056.pdf', 'Austin-North Lawndale Elementary Network', 'WEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Probation', 'Level 3', 'No', 'Weak', 37.0, 'Average', '47', 'Average', 44.0, 'Average', 58.0, 'Average', '50', 'Weak', '36', 'Average', '51', 'Strong', '54', 92.4, 31.0, 95.0, 94.5, '48.4', 'NDA', '8.1', '20.3', '34.2', '31.2', '12.9', '28.4', '24.3', '39.8', '5.7', '26.9', 4.2, 5.8, -2.1, -0.8, 'Red', 'Yellow', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 479, 36, 'NDA', 150000000000000, 1148477.255, 1891003.441, 41.85685194, -87.73049117, 29, 'NORTH LAWNDALE', 24, 10, '(41.85685194, -87.73049117)')]

Veo info sobre las columnas de la tabla

In [11]:
%sql SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('chicago_report');

 * sqlite:///school_chicago.db
Done.

[('School ID', 'INTEGER', 7),
 ('Name of School', 'TEXT', 4),
 ('Elementary, Middle, or High School', 'TEXT', 4),
 ('Street Address', 'TEXT', 4),
 ('City', 'TEXT', 4),
 ('State', 'TEXT', 4),
 ('ZIP Code', 'INTEGER', 7),
 ('Phone Number', 'TEXT', 4),
 ('Link ', 'TEXT', 4),
 ('Network Manager', 'TEXT', 4),
 ('Collaborative Name', 'TEXT', 4),
 ('Adequate Yearly Progress Made? ', 'TEXT', 4),
 ('Track Schedule', 'TEXT', 4),
 ('CPS Performance Policy Status', 'TEXT', 4),
 ('CPS Performance Policy Level', 'TEXT', 4),
 ('Healthy Schools Certified?', 'TEXT', 4),
 ('Safety Icon ', 'TEXT', 4),
 ('Safety Score', 'REAL', 4),
 ('Family Involvement Icon', 'TEXT', 4),
 ('Family Involvement Score', 'TEXT', 4),
 ('Environment Icon ', 'TEXT', 4),
 ('Environment Score', 'REAL', 4),
 ('Instruction Icon ', 'TEXT', 4),
 ('Instruction Score', 'REAL', 4),
 ('Leaders Icon ', 'TEXT', 4),
 ('Leaders Score ', 'TEXT', 4),
 ('Teachers Icon ', 'TEXT', 4),
 ('Teachers Score', 'TEXT', 4),
 ('Parent Engagement Icon ', 'TEXT', 4),
 ('Parent Engagement Score', 'TEXT', 4),
 ('Parent Environment Icon', 'TEXT', 4),
 ('Parent Environment Score', 'TEXT', 4),
 ('Average Student Attendance', 'REAL', 4),
 ('Rate of Misconducts (per 100 students) ', 'REAL', 4),
 ('Average Teacher Attendance', 'REAL', 4),
 ('Individualized Education Program Compliance Rate ', 'REAL', 4),
 ('Pk-2 Literacy %', 'TEXT', 4),
 ('Pk-2 Math %', 'TEXT', 4),
 ('Gr3-5 Grade Level Math %', 'TEXT', 4),
 ('Gr3-5 Grade Level Read % ', 'TEXT', 4),
 ('Gr3-5 Keep Pace Read %', 'TEXT', 4),
 ('Gr3-5 Keep Pace Math %', 'TEXT', 4),
 ('Gr6-8 Grade Level Math %', 'TEXT', 4),
 ('Gr6-8 Grade Level Read %', 'TEXT', 4),
 ('Gr6-8 Keep Pace Math%', 'TEXT', 4),
 ('Gr6-8 Keep Pace Read %', 'TEXT', 4),
 ('Gr-8 Explore Math %', 'TEXT', 4),
 ('Gr-8 Explore Read %', 'TEXT', 4),
 ('ISAT Exceeding Math %', 'REAL', 4),
 ('ISAT Exceeding Reading % ', 'REAL', 4),
 ('ISAT Value Add Math', 'REAL', 4),
 ('ISAT Value Add Read', 'REAL', 4),
 ('ISAT Value Add Color Math', 'TEXT', 4),
 ('ISAT Value Add Color Read', 'TEXT', 4),
 ('Students Taking  Algebra %', 'TEXT', 4),
 ('Students Passing  Algebra %', 'TEXT', 4),
 ('9th Grade EXPLORE (2009) ', 'TEXT', 4),
 ('9th Grade EXPLORE (2010) ', 'TEXT', 4),
 ('10th Grade PLAN (2009) ', 'TEXT', 4),
 ('10th Grade PLAN (2010) ', 'TEXT', 4),
 ('Net Change EXPLORE and PLAN', 'TEXT', 4),
 ('11th Grade Average ACT (2011) ', 'TEXT', 4),
 ('Net Change PLAN and ACT', 'TEXT', 4),
 ('College Eligibility %', 'TEXT', 4),
 ('Graduation Rate %', 'TEXT', 4),
 ('College Enrollment Rate %', 'TEXT', 4),
 ('College Enrollment (number of students) ', 'INTEGER', 7),
 ('General Services Route ', 'INTEGER', 7),
 ('Freshman on Track Rate %', 'TEXT', 4),
 ('RCDTS Code', 'INTEGER', 7),
 ('X_COORDINATE', 'REAL', 4),
 ('Y_COORDINATE', 'REAL', 4),
 ('Latitude', 'REAL', 4),
 ('Longitude', 'REAL', 4),
 ('Community Area Number', 'INTEGER', 7),
 ('Community Area Name', 'TEXT', 4),
 ('Ward', 'INTEGER', 7),
 ('Police District', 'INTEGER', 7),
 ('Location', 'TEXT', 4)]

### Preguntas

1- How many Elementary Schools are in the dataset?

In [17]:
%sql SELECT COUNT(DISTINCT("Name of School")) FROM chicago_report;

 * sqlite:///school_chicago.db
Done.

[(566,)]

2- What is the highest Safety Score?

In [6]:
maximo_ss = %sql SELECT MAX("Safety Score") FROM chicago_report;
mxm = maximo_ss[0][0]
print(maximo_ss, mxm)

 * sqlite:///school_chicago.db
Done.
+---------------------+
| MAX("Safety Score") |
+---------------------+
|         99.0        |
+---------------------+ 99.0

3- Which schools have highest Safety Score?

In [31]:
#por algun motivo esto tira error:
#%sql f'SELECT "Name of School" FROM chicago_report \
 #           WHERE "Safety Score"={mxm}'

#Forma 1: Usando el maximo encontrado previamente, y usando una variable de python para luego referenciarla con el $. Si le paso
#la string literal no funciona, puede ser por las f strings.
query = f'SELECT "Name of School" FROM chicago_report \
            WHERE "Safety Score"={mxm}'
%sql $query

#Otra forma de usar el maximo hallado previamente
%sql SELECT "Name of School" FROM chicago_report \
        WHERE "Safety Score"=:mxm;

#Forma 2: recalcular el maximo usando una subquery. This is the best, more self contained
%sql SELECT "Name of School" FROM chicago_report \
    WHERE "Safety Score" = (SELECT MAX("Safety Score") FROM chicago_report);

   sqlite:///../../Module_4_pythonAndSQL/chicago/chicago.db
 * sqlite:///school_chicago.db
Done.
   sqlite:///../../Module_4_pythonAndSQL/chicago/chicago.db
 * sqlite:///school_chicago.db
(sqlite3.OperationalError) near "f": syntax error
[SQL: f'SELECT "Name of School" FROM chicago_report WHERE "Safety Score" =99.0']
(Background on this error at: https://sqlalche.me/e/20/e3q8)
   sqlite:///../../Module_4_pythonAndSQL/chicago/chicago.db
 * sqlite:///school_chicago.db
Done.
   sqlite:///../../Module_4_pythonAndSQL/chicago/chicago.db
 * sqlite:///school_chicago.db
Done.

[('Abraham Lincoln Elementary School',),
 ('Northside College Preparatory High School',),
 ('Alexander Graham Bell Elementary School',),
 ('Oriole Park Elementary School',),
 ('Mary E Courtenay Elementary Language Arts Center',),
 ('Ellen Mitchell Elementary School',),
 ('Stephen Decatur Classical Elementary School',),
 ('James E McDade Elementary Classical School',),
 ('Norwood Park Elementary School',),
 ('Edgar Allan Poe Elementary Classical School',),
 ('Annie Keller Elementary Gifted Magnet School',),
 ('James G Blaine Elementary School',),
 ('Augustus H Burley Elementary School',),
 ('Talman Elementary School',),
 ('Edgebrook Elementary School',),
 ('Northside Learning Center High School',),
 ('LaSalle Elementary Language Academy',),
 ('Sauganash Elementary School',),
 ('Wildwood Elementary School',)]

4- What are the top 10 schools with the highest "Average Student Attendance"?

In [33]:
%sql SELECT "Name of School", "Average Student Attendance" FROM chicago_report \
        ORDER BY "Average Student Attendance" DESC LIMIT 10;

 * sqlite:///school_chicago.db
Done.

[('John Charles Haines Elementary School', 98.4),
 ('James Ward Elementary School', 97.8),
 ('Rachel Carson Elementary School', 97.6),
 ('Edgar Allan Poe Elementary Classical School', 97.6),
 ('Orozco Fine Arts & Sciences Elementary School', 97.6),
 ('Annie Keller Elementary Gifted Magnet School', 97.5),
 ('Lenart Elementary Regional Gifted Center', 97.4),
 ('Andrew Jackson Elementary Language Academy', 97.4),
 ('Disney II Magnet School', 97.3),
 ('John H Vanderpoel Elementary Magnet School', 97.2)]

5- Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

In [34]:
%sql SELECT "Name of School", "Average Student Attendance" FROM chicago_report \
        ORDER BY "Average Student Attendance" LIMIT 5;

 * sqlite:///school_chicago.db
Done.

[('Velma F Thomas Early Childhood Center', None),
 ('Richard T Crane Technical Preparatory High School', 57.9),
 ('Barbara Vick Early Childhood & Family Center', 60.9),
 ('Dyett High School', 62.5),
 ('Wendell Phillips Academy High School', 63.0)]

6- Now remove the '%' sign from the above result set for Average Student Attendance column

In [35]:
%sql SELECT "Name of School", "Average Student Attendance" AS "%" FROM chicago_report \
        ORDER BY "Average Student Attendance" LIMIT 5;

 * sqlite:///school_chicago.db
Done.

[('Velma F Thomas Early Childhood Center', None),
 ('Richard T Crane Technical Preparatory High School', 57.9),
 ('Barbara Vick Early Childhood & Family Center', 60.9),
 ('Dyett High School', 62.5),
 ('Wendell Phillips Academy High School', 63.0)]

7- Which Schools have Average Student Attendance lower than 70%?

In [39]:
%sql SELECT "Name of School", "Average Student Attendance" AS "%" FROM chicago_report \
        WHERE "Average Student Attendance" < 70;

 * sqlite:///school_chicago.db
Done.

[('Manley Career Academy High School', 66.8),
 ('Dyett High School', 62.5),
 ('Chicago Vocational Career Academy High School', 68.8),
 ('Wendell Phillips Academy High School', 63.0),
 ('Barbara Vick Early Childhood & Family Center', 60.9),
 ('Orr Academy High School', 66.3),
 ('Richard T Crane Technical Preparatory High School', 57.9),
 ('Roberto Clemente Community Academy High School', 69.6)]

8- Get the total College Enrollment for each Community Area

In [16]:
%sql SELECT "Community Area Name", "College Enrollment (number of students) " AS "College goers" FROM chicago_report \
        ORDER BY "College goers" DESC LIMIT 10;

#NOTA: Hay un espacio al final en la columna College Enrollment (number of students) , lo que tiene potenciales problemas para consultar
#la tabla, si no inspeccionas las columnas cuidadosamente

 * sqlite:///../../Module_4_pythonAndSQL/chicago/chicago.db
   sqlite:///school_chicago.db
(sqlite3.OperationalError) no such table: chicago_report
[SQL: SELECT "Community Area Name" , "College Enrollment (number of students) " AS "College goers" FROM chicago_report ORDER BY "College goers" DESC LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

9- Get the hardship index for the community area of the school which has College Enrollment of 4368

In [12]:
#Necesito acceder a la tabla del database del modulo 4, donde trabajamos con chicago hardship index
#para ello me muevo hacia atras dos directorios y luego accedo a la carpeta del modulo 4, donde busco por el archivo chicago.db
db_path = "../../Module_4_pythonAndSQL/chicago/chicago.db"

#Si no encuentro el archivo chicago.db, no quiero que sqlite cree otro archivo .db, por lo que pongo esta seguridad extra
if os.path.exists(db_path):
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()
    %sql sqlite:///{db_path}
    print("Connected to the database successfully!")
else:
    print("Database file not found. Connection aborted.")

#IMPORTANTE:
"""
Cometi un error al querer usar los magic commands con el database chicago.db. Hice lo siguiente, una vez cree el conn con el db_path correcto:
%sql sqlite:///chicago.db
Pero esto, si bien me conectaba a un supuesto db, me devolvia un db vacio al querer hacer queries sobre el.
El problema es que el magic command estaba buscando un .db file en este directorio, pues no especifique path hasta llegar al verdadero
.db file con la info deseada.
El problema se soluciono al hacer
%sql sqlite:///{db_path}
(thnks chatGPT)
"""

/home/rafael/Documents/Cursos/Coursera/SQL_Pyhton_IBM_Coursera/Modulo_5_dataManipulationViz/hands_on_chicago_school_report
Connected to the database successfully!

Veo las tablas en el database creado para el modulo 4

In [13]:
%sql SELECT name FROM sqlite_master WHERE type = 'table';

 * sqlite:///../../Module_4_pythonAndSQL/chicago/chicago.db
   sqlite:///school_chicago.db
Done.

[('chicago_socioeconomic_data',)]

Obtengo info de las columnas de la tabla "chicago_socioeconomic_data"

In [15]:
%sql SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('chicago_socioeconomic_data');

 * sqlite:///../../Module_4_pythonAndSQL/chicago/chicago.db
   sqlite:///school_chicago.db
Done.

[('ca', 'REAL', 4),
 ('community_area_name', 'TEXT', 4),
 ('percent_of_housing_crowded', 'REAL', 4),
 ('percent_households_below_poverty', 'REAL', 4),
 ('percent_aged_16_unemployed', 'REAL', 4),
 ('percent_aged_25_without_high_school_diploma', 'REAL', 4),
 ('percent_aged_under_18_or_over_64', 'REAL', 4),
 ('per_capita_income_', 'INTEGER', 7),
 ('hardship_index', 'REAL', 4)]

Por otro lado, las columnas de la tabla "chicago_report", que se encuentra en el database de las escuelas con el que estoy trabajando en el modulo 5, tiene la siguiente descripcion

In [17]:
%sql sqlite:///school_chicago.db
%sql SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('chicago_report');

   sqlite:///../../Module_4_pythonAndSQL/chicago/chicago.db
 * sqlite:///school_chicago.db
Done.

[('School ID', 'INTEGER', 7),
 ('Name of School', 'TEXT', 4),
 ('Elementary, Middle, or High School', 'TEXT', 4),
 ('Street Address', 'TEXT', 4),
 ('City', 'TEXT', 4),
 ('State', 'TEXT', 4),
 ('ZIP Code', 'INTEGER', 7),
 ('Phone Number', 'TEXT', 4),
 ('Link ', 'TEXT', 4),
 ('Network Manager', 'TEXT', 4),
 ('Collaborative Name', 'TEXT', 4),
 ('Adequate Yearly Progress Made? ', 'TEXT', 4),
 ('Track Schedule', 'TEXT', 4),
 ('CPS Performance Policy Status', 'TEXT', 4),
 ('CPS Performance Policy Level', 'TEXT', 4),
 ('Healthy Schools Certified?', 'TEXT', 4),
 ('Safety Icon ', 'TEXT', 4),
 ('Safety Score', 'REAL', 4),
 ('Family Involvement Icon', 'TEXT', 4),
 ('Family Involvement Score', 'TEXT', 4),
 ('Environment Icon ', 'TEXT', 4),
 ('Environment Score', 'REAL', 4),
 ('Instruction Icon ', 'TEXT', 4),
 ('Instruction Score', 'REAL', 4),
 ('Leaders Icon ', 'TEXT', 4),
 ('Leaders Score ', 'TEXT', 4),
 ('Teachers Icon ', 'TEXT', 4),
 ('Teachers Score', 'TEXT', 4),
 ('Parent Engagement Icon ', 'TEXT', 4),
 ('Parent Engagement Score', 'TEXT', 4),
 ('Parent Environment Icon', 'TEXT', 4),
 ('Parent Environment Score', 'TEXT', 4),
 ('Average Student Attendance', 'REAL', 4),
 ('Rate of Misconducts (per 100 students) ', 'REAL', 4),
 ('Average Teacher Attendance', 'REAL', 4),
 ('Individualized Education Program Compliance Rate ', 'REAL', 4),
 ('Pk-2 Literacy %', 'TEXT', 4),
 ('Pk-2 Math %', 'TEXT', 4),
 ('Gr3-5 Grade Level Math %', 'TEXT', 4),
 ('Gr3-5 Grade Level Read % ', 'TEXT', 4),
 ('Gr3-5 Keep Pace Read %', 'TEXT', 4),
 ('Gr3-5 Keep Pace Math %', 'TEXT', 4),
 ('Gr6-8 Grade Level Math %', 'TEXT', 4),
 ('Gr6-8 Grade Level Read %', 'TEXT', 4),
 ('Gr6-8 Keep Pace Math%', 'TEXT', 4),
 ('Gr6-8 Keep Pace Read %', 'TEXT', 4),
 ('Gr-8 Explore Math %', 'TEXT', 4),
 ('Gr-8 Explore Read %', 'TEXT', 4),
 ('ISAT Exceeding Math %', 'REAL', 4),
 ('ISAT Exceeding Reading % ', 'REAL', 4),
 ('ISAT Value Add Math', 'REAL', 4),
 ('ISAT Value Add Read', 'REAL', 4),
 ('ISAT Value Add Color Math', 'TEXT', 4),
 ('ISAT Value Add Color Read', 'TEXT', 4),
 ('Students Taking  Algebra %', 'TEXT', 4),
 ('Students Passing  Algebra %', 'TEXT', 4),
 ('9th Grade EXPLORE (2009) ', 'TEXT', 4),
 ('9th Grade EXPLORE (2010) ', 'TEXT', 4),
 ('10th Grade PLAN (2009) ', 'TEXT', 4),
 ('10th Grade PLAN (2010) ', 'TEXT', 4),
 ('Net Change EXPLORE and PLAN', 'TEXT', 4),
 ('11th Grade Average ACT (2011) ', 'TEXT', 4),
 ('Net Change PLAN and ACT', 'TEXT', 4),
 ('College Eligibility %', 'TEXT', 4),
 ('Graduation Rate %', 'TEXT', 4),
 ('College Enrollment Rate %', 'TEXT', 4),
 ('College Enrollment (number of students) ', 'INTEGER', 7),
 ('General Services Route ', 'INTEGER', 7),
 ('Freshman on Track Rate %', 'TEXT', 4),
 ('RCDTS Code', 'INTEGER', 7),
 ('X_COORDINATE', 'REAL', 4),
 ('Y_COORDINATE', 'REAL', 4),
 ('Latitude', 'REAL', 4),
 ('Longitude', 'REAL', 4),
 ('Community Area Number', 'INTEGER', 7),
 ('Community Area Name', 'TEXT', 4),
 ('Ward', 'INTEGER', 7),
 ('Police District', 'INTEGER', 7),
 ('Location', 'TEXT', 4)]

La relacion entre las tablas esta en el community area, pues las escuelas estan en comunidades, y la tabla de "chicago_socioeconomic_data" en el database "chicago.db" tiene info sobre las comunidades.

Voy a buscar la escuela con esa cantidad de College goers, voy a obtener su nombre y su community area, y en base a esa community area voy a obtener el hardship number. Creo que 4368 es la maxima catidad de college goers, asi que no es necesario hardcodearlo, puedo usar subequeries

Como voy a estar cambiando de databases, no puedo hacer toda la query con el mismo magic command, debo pasar por un database, obtener la info, guardarla en una variable de python, luego cambiar al otro database y usar esa info para hacer la query alli

In [48]:
#obtengo el community area donde se encuentra la escuela con el mayor numero de college goers
%sql sqlite:///school_chicago.db
#ca_max_cg = %sql SELECT "Community Area Number" FROM "chicago_report" \
 #                   WHERE "College Enrollment (number of students) " = (SELECT MAX("College Enrollment (number of students) ") FROM "chicago_report");
#print(ca_max_cg)
mxm = 99.0
#Forma 1: Usando el maximo encontrado previamente
query = f'SELECT "Name of School" FROM chicago_report \
            WHERE "Safety Score"={mxm}'
res = %sql $query

print(res)

#Otra forma de usar el maximo hallado previamente
res1 = %sql SELECT "Name of School" FROM chicago_report \
            WHERE "Safety Score"=:mxm;
print("res1: ", res1)


#ca_max_cg = %sql SELECT MAX("College Enrollment (number of students) ") FROM chicago_report;
#print(ca_max_cg)

res = %sql SELECT "Community Area Name", "College Enrollment (number of students) " AS "College goers" FROM chicago_report \
        ORDER BY "College goers" DESC LIMIT 10;
print(res)

res = %sql SELECT MAX("College Enrollment (number of students) ") AS "Maximo_college_goers" FROM chicago_report;
print(res)

max_cg = %sql SELECT MAX("School ID") FROM chicago_report;
print(max_cg)

"""
El hecho de que hubiera ese espacio al final de la columna "College Enrollment (number of students) " me jodio, pues al hacer MAX
al parecer hay un mecanismo en el que no puede llamarse MAX(ALGO ) con espacio al final. Casi me vuelve loco, pero el problema esta en cuando
saco el AS "Maximo_college goers".
"""

   sqlite:///../../Module_4_pythonAndSQL/chicago/chicago.db
 * sqlite:///school_chicago.db
Done.
+--------------------------------------------------+
|                  Name of School                  |
+--------------------------------------------------+
|        Abraham Lincoln Elementary School         |
|    Northside College Preparatory High School     |
|     Alexander Graham Bell Elementary School      |
|          Oriole Park Elementary School           |
| Mary E Courtenay Elementary Language Arts Center |
|         Ellen Mitchell Elementary School         |
|   Stephen Decatur Classical Elementary School    |
|    James E McDade Elementary Classical School    |
|          Norwood Park Elementary School          |
|   Edgar Allan Poe Elementary Classical School    |
|   Annie Keller Elementary Gifted Magnet School   |
|         James G Blaine Elementary School         |
|       Augustus H Burley Elementary School        |
|             Talman Elementary School             |
|           Edgebrook Elementary School            |
|      Northside Learning Center High School       |
|       LaSalle Elementary Language Academy        |
|           Sauganash Elementary School            |
|            Wildwood Elementary School            |
+--------------------------------------------------+
   sqlite:///../../Module_4_pythonAndSQL/chicago/chicago.db
 * sqlite:///school_chicago.db
Done.
res1:  +--------------------------------------------------+
|                  Name of School                  |
+--------------------------------------------------+
|        Abraham Lincoln Elementary School         |
|    Northside College Preparatory High School     |
|     Alexander Graham Bell Elementary School      |
|          Oriole Park Elementary School           |
| Mary E Courtenay Elementary Language Arts Center |
|         Ellen Mitchell Elementary School         |
|   Stephen Decatur Classical Elementary School    |
|    James E McDade Elementary Classical School    |
|          Norwood Park Elementary School          |
|   Edgar Allan Poe Elementary Classical School    |
|   Annie Keller Elementary Gifted Magnet School   |
|         James G Blaine Elementary School         |
|       Augustus H Burley Elementary School        |
|             Talman Elementary School             |
|           Edgebrook Elementary School            |
|      Northside Learning Center High School       |
|       LaSalle Elementary Language Academy        |
|           Sauganash Elementary School            |
|            Wildwood Elementary School            |
+--------------------------------------------------+
   sqlite:///../../Module_4_pythonAndSQL/chicago/chicago.db
 * sqlite:///school_chicago.db
Done.
+---------------------+---------------+
| Community Area Name | College goers |
+---------------------+---------------+
|     NORTH CENTER    |      4368     |
|    ARCHER HEIGHTS   |      3320     |
|     NORWOOD PARK    |      2922     |
|    BRIGHTON PARK    |      2883     |
|     IRVING PARK     |      2366     |
|     LINCOLN PARK    |      2342     |
|    NEAR WEST SIDE   |      2166     |
|    BELMONT CRAGIN   |      1890     |
|       KENWOOD       |      1852     |
|      GAGE PARK      |      1846     |
+---------------------+---------------+
   sqlite:///../../Module_4_pythonAndSQL/chicago/chicago.db
 * sqlite:///school_chicago.db
Done.
+-----------------------+
|  Maximo_college_goers |
+-----------------------+
|          4368         |
+-----------------------+
   sqlite:///../../Module_4_pythonAndSQL/chicago/chicago.db
 * sqlite:///school_chicago.db
Done.
+------------------+
| MAX("School ID") |
+------------------+
|      610544      |
+------------------+
   sqlite:///../../Module_4_pythonAndSQL/chicago/chicago.db
 * sqlite:///school_chicago.db
Done.
+-------------------------------------+-----------------------+
|            Name of School           | Community Area Number |
+-------------------------------------+-----------------------+
| Albert G Lane Technical High School |           5           |
+-------------------------------------+-----------------------+

'\nEl hecho de que hubiera ese espacio al final de la columna "College Enrollment (number of students) " me jodio, pues al hacer MAX\nal parecer hay un mecanismo en el que no puede llamarse MAX(ALGO ) con espacio al final. Casi me vuelve loco, pero el problema esta en cuando\nsaco el AS "Maximo_college goers".\n'

In [57]:
%sql sqlite:///school_chicago.db
res = %sql SELECT "Name of School", "Community Area Number" FROM chicago_report \
                WHERE "College Enrollment (number of students) " = (SELECT MAX("College Enrollment (number of students) ") AS "max_cg" FROM chicago_report);
nom_max_cg = res[0][0]
print(nom_max_cg, type(nom_max_cg))
ca_max_cg = res[0][1]
print(ca_max_cg, type(ca_max_cg))
#con la info deseada del school_chicago database, me voy al chicago database
%sql sqlite:///../../Module_4_pythonAndSQL/chicago/chicago.db
res = %sql SELECT :nom_max_cg AS School_name, hardship_index FROM chicago_socioeconomic_data \
                WHERE ca = :ca_max_cg;

print(res)

#otra forma de hacerlo
query = f'SELECT {res[0][0]} AS School_name, hardship_index FROM chicago_socioeconomic_data \
                WHERE ca = {res[0][1]};'

   sqlite:///../../Module_4_pythonAndSQL/chicago/chicago.db
 * sqlite:///school_chicago.db
Done.
Albert G Lane Technical High School <class 'str'>
5 <class 'int'>
 * sqlite:///../../Module_4_pythonAndSQL/chicago/chicago.db
   sqlite:///school_chicago.db
Done.
+-------------------------------------+----------------+
|             School_name             | hardship_index |
+-------------------------------------+----------------+
| Albert G Lane Technical High School |      6.0       |
+-------------------------------------+----------------+

In [56]:
#otra forma de hacerlo
%sql sqlite:///school_chicago.db
res = %sql SELECT "Name of School", "Community Area Number" FROM chicago_report \
                WHERE "College Enrollment (number of students) " = (SELECT MAX("College Enrollment (number of students) ") AS "max_cg" FROM chicago_report);

%sql sqlite:///../../Module_4_pythonAndSQL/chicago/chicago.db

query = f'SELECT "{res[0][0]}" AS School_name, hardship_index FROM chicago_socioeconomic_data \
                WHERE ca = {res[0][1]};'

res = %sql $query

print(res)

   sqlite:///../../Module_4_pythonAndSQL/chicago/chicago.db
 * sqlite:///school_chicago.db
Done.
 * sqlite:///../../Module_4_pythonAndSQL/chicago/chicago.db
   sqlite:///school_chicago.db
Done.
+-------------------------------------+----------------+
|             School_name             | hardship_index |
+-------------------------------------+----------------+
| Albert G Lane Technical High School |      6.0       |
+-------------------------------------+----------------+